.product-card {
  width: 100%;
  height: 90%;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  background-color: rgb(252, 253, 240);
}

/* Contenedor que controla la altura de la imagen */
.image-container {
  width: 100%;
  aspect-ratio: 3 / 4;  /* Todas iguales */
  overflow: hidden;     /* Recorta lo que sobra */
}

/* Imagen ajustada */
.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;     /* Recorta y agranda sin deformar */
  display: block;
}

.card-body {
  padding: 1rem;
  
  flex: 1;  /* Se ajusta a lo que queda del card */
}

.title-name {
  font-weight: 300;
  font-size: medium;
  height: 2rem;
  overflow: hidden;
}

.price {
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-success);
}
