.product-card {
  width: 100%;
  height: 90%;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  background: linear-gradient(10deg, #fff1f1,   #bce9e9);
}

/* Contenedor que controla la altura de la imagen */
.image-container {
  width: 100%;
  aspect-ratio: 3 / 4;  /* Todas iguales */
  overflow: hidden;     /* Recorta lo que sobra */
}

/* Imagen ajustada */
.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;     /* Recorta y agranda sin deformar */
  display: block;
}

.card-body {
  padding: 1rem;
  
  flex: 1;  /* Se ajusta a lo que queda del card */
}
.category{
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 0.2rem;
}
.title-name {
  font-weight: 700;
  font-size: medium;
  height: 1rem;
  overflow: hidden;
  margin-bottom: 0;

}

.price {
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-success);
}
.btn{
  height: 3rem;
  margin: 2px;
}