.home-section-welcome{
  height: 60rem;
  
}
.home-page-content{
  
}
.descriptio-welcome{
  margin-top: 5rem;
  height: 10rem;  
}
#title-welcome{
  color: var(--color-success);
  font-weight: 700;
  font-size: 2rem;
  padding: 3rem;
}
#descriptio-welcome-text{
  color: white;
  font-size: 1rem;
  font-weight: 0.5rem;
}
.category-section{
   transition: transform 0.2s ease;
  height: 30rem;
  background-color: var(--color-success);
}



.card-section{
  background-color: white;
  height: 10rem;
  width: 10rem;
  border-radius: 3px;
  padding: 2rem;
}html {
  scroll-behavior: smooth;
}


.card-section:hover {
  transform: scale(1.05);
}