.publish-product-container{
    margin-top: 2rem;
}
.container-form{
    background-color: rgb(255, 255, 255);   
    border-radius: 30px; 
    padding: 1.2rem;
 
}
.container-page{
    background-color: rgb(233, 243, 252);
}
.title {
  color: var(--color-success);
  font-weight: 700;
  font-size: 2rem;
  margin-left: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;

  
}
