:root {
  --color-primary: #4E342E;
  --color-primary-dark: rgb(39, 32, 32);
  --color-secondary: #F5F2E9;
  --color-success: #10b981;
  --color-danger: #ef4444;
  --color-warning: #f59e0b;
  --color-info: #06b6d4;
  --color-light: #F5F5DC;
  --color-dark: #1e293b;
}
body {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
 
}
.btn-outline-primary{
  border: 2px solid #b8c6d9;
  border-radius: 20px;
}
.btn-danger{
  background-color: #e7cfcf;
  color: #ef4444;
  font-weight: 800;
}
.btn-primary{
  background-color: #83c083;
  color: #ffffff;
  font-weight: 800;
  border-radius: 20px;
  border: none;
  height: 3rem;
}
.btn-secondary{
  background-color: #eff1f0;
  color: #066d2e;
  font-weight: 800;
  border-radius: 20px;
  border: 1px solid #066d2e;
  height: 3rem;
}
.btn-primary:disabled{
  background-color: #e6f0ee;
  border: 1px solid black;
  border-color: #c8d2e0;
  color: #8d9db6;
}
.btn-primary:disabled:hover{
  background-color: #dbe7e5;
  border: 1px solid black;
  border-color: #c8d2e0;
  color: #8d9db6;
}
.btn-primary:hover{
  background-color: var(--color-success);
}
