<div class="card p-4 order-modal ">
      <h2 class=" mb-4 title">¡Orden creada exitosamente!</h2>
      <div *ngIf="createdOrderResponse" class="order-details">
        <!-- Información de la orden -->
        <div class="divider"></div>
        <div class="order-info">
                           
          <!-- Items de la orden -->
          <div class="order-items">
            <h4 class="title">Productos ordenados:</h4>
            <div *ngFor="let item of createdOrderResponse.order.items" class="order-item">
              <p>Producto ID: {{ item.product_id }}</p>
              <p>Cantidad: {{ item.quantity }}</p>
              <p>Precio: {{ formatPrice(item.price) }}</p>
            </div>
          </div>
          <div class="d-flex gap-2 justify-content-between p-2 align-items-center">
            <p class="">Estado: </p>
            <p class="estado">{{ createdOrderResponse.order.status }}</p>
          </div>
          <div class="divider"></div>
          <div class="d-flex gap-2 justify-content-between p-2">
            <p>Total: </p>
             <p id="price"> {{ formatPrice(createdOrderResponse.order.total_price) }}</p>
          </div>
          <div class="divider"></div>   
        </div>

        <!-- Información del envío -->
        <div class="shipping-info card p-4">
          <h3>Información de Envío</h3>
          <div class="d-flex gap-2 justify-content-between">
            <p>Número de seguimiento:</p>
            <p> {{ createdOrderResponse.shipping.tracking_number }}</p>
          </div>
          <div class="d-flex gap-2 justify-content-between">
            <p>Direccion:</p>
            <p> {{ createdOrderResponse.shipping.shipping_address }}</p>
          </div >
          <div class="d-flex gap-2 justify-content-between">
            <p>Estado del envío:</p>
            <p> {{ createdOrderResponse.shipping.status }}</p>
          </div>

        </div>
      </div>
      <button (click)="closeOrder()" class="close-modal-button">
        Cerrar
      </button>
</div>