<app-header></app-header>
<div class="orders-container">
  <div class="header">
    <button class="back-button" routerLink="/user">
      <app-arrow-left></app-arrow-left>
    </button>
  </div>
  <section class="section-title container-fluid d-flex flex-column justify-content-center align-items-center mb-4">
    <h1 class="title">Mis Productos</h1>
    <p class="subtitle">Administra tus productos publicados</p>
  </section>
  <div *ngIf="!allProducts || allProducts.length === 0" class="container-fluid d-flex flex-column justify-content-center align-items-center" style="height: 80vh;">
    <h1>No tiense productos publicados aun</h1>
    <button class="btn btn-secondary">Publicar mi primer producto</button>
  </div>
  <div class="container-fluid" *ngIf="allProducts && allProducts.length > 0">
        <app-list-product-tenant-preview
          [products]="allProducts"
          [showActions]="true"
          (productClick)="onProductClick($event)"
          (action)="onAction($event)"
        ></app-list-product-tenant-preview>
  </div>